body{
    margin: 0;
}
header{
    background-color: red;
}
.zomato{
    position:relative;
    left: 10%;
}
.login-container{
    position: absolute;
    right:20%;
    top:1em;
}
#zomato-text{
    margin-top: 0;
    font-size: 3em;
    font-style: italic;
    font-weight: bolder;
}
.login-container a{
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: purple;
}